@use 'mixins' as m;
@use 'tokens' as t;

.footer {
  background: t.$color-footer-bg;
  display: flex;
  flex-direction: column;
}

.top {
  background: t.$color-footer-bg;
  padding: 100px 32px 200px;
  display: flex;
  justify-content: center;
}

.links {
  width: 1376px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.col1 {
  padding-right: 80px;
}

.email {
  display: inline-block;
  @include m.type(headline-large);
  color: t.$color-on-light-primary;
  border-bottom: 2px solid t.$color-on-light-primary;
  padding-bottom: 6px;

  &:hover {
    color: t.$color-on-light-secondary;
  }
}

.col2 {
  display: flex;
  flex-direction: column;
  gap: 96px;
  justify-content: center;
}

.linkedin {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-family: t.$font-sans;
  font-size: 22px;
  font-weight: t.$fw-medium;
  letter-spacing: -0.88px;
  line-height: 26.4px;
  color: t.$color-on-light-primary;
  align-self: flex-start;

  &:hover {
    color: t.$color-on-light-secondary;
  }
}

.signoff {
  @include m.type(hero);
  color: t.$color-on-light-primary;
  width: t.$col-wide;
}

.bottom {
  padding: 42px 36px;

  p {
    @include m.type(body-medium);
    color: t.$color-on-light-quaternary;
    white-space: nowrap;
  }
}
