@use 'mixins' as m;
@use 'tokens' as t;

.title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: t.$col-narrow;
}

.label {
  @include m.type(title-medium-emph);
  color: t.$color-on-light-primary;
}

.secondary {
  @include m.type(title-small);
  color: t.$color-on-light-quaternary;
}

.dark {
  .label {
    color: t.$color-on-dark-primary;
  }

  .secondary {
    color: t.$color-on-dark-quaternary;
  }
}
